In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [ ]:
df.isna().sum()

TurbID         0
Day            0
Tmstamp        0
Wspd       49518
Wdir       49518
Etmp       49518
Itmp       49518
Ndir       49518
Pab1       49518
Pab2       49518
Pab3       49518
Prtv       49518
Patv       49518
dtype: int64

In [7]:
df.shape[0]

4727520

In [8]:
df.isna().sum()["Prtv"] / df.shape[0]

np.float64(0.010474413646055437)

In [16]:
df.TurbID.nunique()

134

In [12]:
df[df.isna().any(axis=1)].groupby("TurbID").count()

,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv
TurbID,,,,,,,,,,,,
1,362,362,0,0,0,0,0,0,0,0,0,0
2,398,398,0,0,0,0,0,0,0,0,0,0
3,352,352,0,0,0,0,0,0,0,0,0,0
4,355,355,0,0,0,0,0,0,0,0,0,0
5,338,338,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
130,350,350,0,0,0,0,0,0,0,0,0,0
131,316,316,0,0,0,0,0,0,0,0,0,0
132,299,299,0,0,0,0,0,0,0,0,0,0
133,294,294,0,0,0,0,0,0,0,0,0,0
134,319,319,0,0,0,0,0,0,0,0,0,0

In [15]:
df[df.isna().any(axis=1)].groupby("Day").count()

,TurbID,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv
Day,,,,,,,,,,,,
1,145,145,0,0,0,0,0,0,0,0,0,0
2,16,16,0,0,0,0,0,0,0,0,0,0
3,16,16,0,0,0,0,0,0,0,0,0,0
4,14,14,0,0,0,0,0,0,0,0,0,0
5,15,15,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
241,12,12,0,0,0,0,0,0,0,0,0,0
242,26,26,0,0,0,0,0,0,0,0,0,0
243,13,13,0,0,0,0,0,0,0,0,0,0
244,11,11,0,0,0,0,0,0,0,0,0,0
245,13,13,0,0,0,0,0,0,0,0,0,0

In [18]:
df.Day.nunique()

245

In [24]:
df[df.isna().any(axis=1)].groupby(["Day", "Tmstamp"]).count().mean()

TurbID    5.747882
Wspd      0.000000
Wdir      0.000000
Etmp      0.000000
Itmp      0.000000
Ndir      0.000000
Pab1      0.000000
Pab2      0.000000
Pab3      0.000000
Prtv      0.000000
Patv      0.000000
dtype: float64