In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('turbine_data.csv')
data['Hour'] = data['Tmstamp'].astype(str).str.split(":").str[0].astype(int)
data['Minute'] = data['Tmstamp'].astype(str).str.split(":").str[1].astype(int)
data['T'] = ((data['Day'] - 1) * 144) + (data['Hour'] * 6) + (data['Minute'] // 10)
data = data.sort_values(['TurbID', 'T'])
data.head()

,TurbID,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv,Hour,Minute,T
0,1,1,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,1,1,00:10,6.17,-3.99,30.73,41.80,25.92,1.0,1.0,1.0,-0.25,494.66,0,10,1
2,1,1,00:20,6.27,-2.18,30.60,41.63,20.91,1.0,1.0,1.0,-0.24,509.76,0,20,2
3,1,1,00:30,6.42,-0.73,30.52,41.52,20.91,1.0,1.0,1.0,-0.26,542.53,0,30,3
4,1,1,00:40,6.25,0.89,30.49,41.38,20.91,1.0,1.0,1.0,-0.23,509.36,0,40,4

In [5]:
data['Patv'] = data.groupby('TurbID')['Patv'].transform(
    lambda series: series.interpolate(method='linear', limit_direction='both')
)
data.head()

,TurbID,Day,Tmstamp,Wspd,Wdir,Etmp,Itmp,Ndir,Pab1,Pab2,Pab3,Prtv,Patv,Hour,Minute,T
0,1,1,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.66,0,0,0
1,1,1,00:10,6.17,-3.99,30.73,41.80,25.92,1.0,1.0,1.0,-0.25,494.66,0,10,1
2,1,1,00:20,6.27,-2.18,30.60,41.63,20.91,1.0,1.0,1.0,-0.24,509.76,0,20,2
3,1,1,00:30,6.42,-0.73,30.52,41.52,20.91,1.0,1.0,1.0,-0.26,542.53,0,30,3
4,1,1,00:40,6.25,0.89,30.49,41.38,20.91,1.0,1.0,1.0,-0.23,509.36,0,40,4

In [6]:
data.to_csv('data_interpolated.csv', index=False)